# SPDX-FileCopyrightText: 2020 Zach Daniel
# SPDX-FileCopyrightText: 2020 ash_admin contributors <https://github.com/ash-project/ash_admin/graphs/contributors>
#
# SPDX-License-Identifier: MIT

---
updates:
  - directory: /
    groups:
      dev-dependencies:
        dependency-type: development
      production-dependencies:
        dependency-type: production
    package-ecosystem: mix
    schedule:
      day: thursday
      interval: monthly
    versioning-strategy: lockfile-only
version: 2
