$border: rgb(47, 44, 44);
$border-hover: #aaa;
$bg-hover: #eee;
$text: #888;
$text-hover: #000;
$ident: 20px;
$left: -($ident);

.ash-filter-builder {
  ul {
    margin-left: $ident;
  }
  li {
    list-style-type: none;
    margin: 2px 0 2px 2px;
    position: relative;
    span.filter-group {
      display: block;
      border: 1px solid $border;
      padding: 10px;
      text-decoration: none;
    }
  }
}
